<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">List Vehicles</a></li>
            <li class="main-header__item"><a class="<%= path === 'isAddVehicle' ? 'active' : '' %>" href="/admin/add-file">Uploads</a></li>
        </ul>
    </nav>
</header>